{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
    },
    "sourceType": "module",
  },
  "env": {
    "browser": true,
    "node": true,
  },
  "plugins": [
    "react",
  ],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "no-console": 2,
    "new-cap": 2,
    "strict": 2,
    "no-use-before-define": 2,
    "eol-last": 1,
    "quotes": [1, "single", "avoid-escape"],
    "jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
  }
}
